/*Обнуление*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #000;
}
a {
  text-decoration: none;
}
.wrapper-btn{
  margin: 50px;
  display: flex;
  justify-content: center;
}
/* wave */
.wave-btn {
  position: relative;
  width: 280px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  transition: all 0.8s ease 0s;
  overflow: hidden;
}
.wave-btn:hover {
  border-radius: 10px;
  transition: all 0.8s ease 0.2s;
  box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}
.wave-btn:hover .wave-btn__waves {
  top: -50px;
}
.wave-btn__text {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 8px;
  position: relative;
  z-index: 1;
}
.wave-btn__waves {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #4973ff;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease 0s;
}
.wave-btn__waves:after,
.wave-btn__waves:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}
.wave-btn__waves:before {
  background-color: #000;
  border-radius: 48%;
  animation: waves 5s infinite linear;
}
.wave-btn__waves:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 44%;
  animation: waves 10s infinite linear;
}
@keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
/* ./wave */

/* shackled */
.btn-shackled {
  position: relative;
  display: inline-block;
  columns: #fff;
}
.btn-shackled::before,
.btn-shackled::after {
  content: "";
  position: absolute;
  margin-left: -40px;
  top: -10px;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid #ff0000;
  transition: all 0.8s ease;
  z-index: 1;
}
.btn-shackled::before {
  animation: rotate-s 20s infinite linear;
}
.btn-shackled::after {
  animation: rotate-s 25s infinite linear;
}

.btn-shackled:hover .btn-shackled__text {
  top: -10px;
  color: #fff;
  box-shadow: 0 5px 0 0 #1e3991;
  transition: all 0.5s ease 0.2s;
}
.btn-shackled:active .btn-shackled__text {
  top: -7px;
  box-shadow: 0 2px 0 0 #1e3991;
  transition: all 0.1s ease;
}
.btn-shackled:hover::before,
.btn-shackled:hover::after {
  left: 100%;
  opacity: 0;
}
.btn-shackled:hover .btn-shackled__text::before {
  width: 100%;
}
.btn-shackled:hover .btn-shackled__text::before,
.btn-shackled:hover .btn-shackled__text::after {
  background-color: #4973ff;
}
.btn-shackled__text {
  position: relative;
  top: 0;
  padding: 0 50px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 10px;
  transition: all 1s ease;
  overflow: hidden;
}
.btn-shackled__text::before,
.btn-shackled__text::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #eee;
  transition: all 0.8s ease;
}
.btn-shackled__text::before {
  left: 0;
  z-index: 2;
}
.btn-shackled__text::after {
  right: 0;
}
.btn-shackled__text span {
  position: relative;
  z-index: 2;
}
@keyframes rotate-s {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ./shackled */